@import '@/node_modules/@trevio/ui/dist/style.css';

body {
  @apply text-base;
  font-family: 'Montserrat', sans-serif;
  background-color: #fafbfc;
}

html,
body,
#__nuxt {
  height: 100%;
}

.prose-sm {
  img {
    cursor: pointer;
  }
}